.flexer{
    background-color: antiquewhite;
}
.items{
    background-color: rgb(109, 134, 218);
    color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
}
.single{
    background-color: rgb(176, 218, 109);
    color: rgb(37, 36, 31);
}
.editor{
    background-color: rgb(233, 140, 140);
}
.crew{
    background-color: brown;
}
.pics{
    height: 150px;
    margin-right: 60px;
    border-radius: 50%;
    border: 2px solid gold;
}
.cp{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.catchphrase{
    background-color: rgb(218, 171, 109);
}